@{
    ViewData["Title"] = "Employment";
}
<h1>@ViewData["Title"]</h1>

<p>Will add employment table via jsgrid here. Test to see if could add page.</p>

@model Project3_FinalExam.ViewModels.EmploymentViewModel
@model Project3_FinalExam.ViewModels.CoopViewModel 

<h2>Professional Employment Table</h2>

<div id="employment"></div>
<p>Model.employment</p>
@foreach (var employ in Model.employment)
{
    <h3 id=@String.Concat("myHdng", employ.title)><b>@employ.title</b></h3>

    <div id=@String.Concat("myDiv", employ.title)>
        <ul>

                <li>@employ.employer</li>
                <li>@employ.degree</li>
                <li>@employ.city</li>
                <li>@employ.title</li>
                <li>@employ.startDate</li>

      
        </ul>
    </div>
}
@*Get jQuery and jQueryUI Scripts from wwwroot*@
<script src="~/jquery/jquery.js"></script>
<link rel="stylesheet" href="~/jqueryui/themes/le-frog/jquery-ui.min.css">
<script src="~/jqueryui/jquery-ui.js"></script>
<script>
    // Create Accordion
    let headings = document.querySelectorAll("h3");
    let divs = document.querySelectorAll("[id^='myDiv']");

    for (var i = 0; i < headings.length; i++) {
        $("#myUnderDegrees").append($("#" + headings[i].id));
        $("#myUnderDegrees").append($("#" + divs[i].id));
    }

    $('#myUnderDegrees').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
    });
</script>